<div ng-cloak>
    <div class="row">

        <div class="col-md-8">
            <div id="map-canvas" class="hipstermap">
                <p>Google maps loading....</p>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Nav tabs -->
            <!--<ul class="nav nav-tabs" role="tablist">-->
                <!--<li role="presentation">-->
                    <!--<button id="searchbtn" name="search" class="btn btn-primary"-->
                            <!--ng-click="searchbuttonClicked()" ng-model="searchCab">Search</button>-->
                <!--</li>-->
                <!--<li role="presentation"><button id="updatebtn" name="search" class="btn btn-primary">Update</button></li>-->
                <!--<li role="presentation"><button id="findbtn" name="search" class="btn btn-primary">Find</button></li>-->
                <!--<li role="presentation"><button id="deletebtn" name="search" class="btn btn-primary">Delete</button></li>-->
            <!--</ul>-->

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <button id="searchbtn" name="search" class="btn btn-primary"
                            ng-click="searchButtonClicked()">Search</button>
                </li>
            <li role="presentation"><button id="updatebtn" name="search" class="btn btn-primary" ng-click="addOrUpdateButtonClicked()">Update</button></li>
            <li role="presentation"><button id="findbtn" name="search" class="btn btn-primary" ng-click="findButtonClicked()">Find</button></li>
            <li role="presentation"><button id="deletebtn" name="search" class="btn btn-primary" ng-click="deleteButtonClicked()">Delete</button></li>
            </ul>
            <!--<div class="tab-content">-->
                <!--<div ng-show="searchCab">Something1</div>-->
                <!--<div ng-show="addOrUpdateCab">Something2</div>-->
                <!--<div ng-show="findCab">Something3</div>-->
                <!--<div ng-show="deleteCab">Something4</div>-->
            <!--</div>-->

            <!-- Tab panes -->
            <div class="tab-content">
                <div ng-show="searchCab">
                    <!-- Search form -->

                    <form class="form-horizontal">
                        <fieldset>

                            <!-- Find Cabs near you -->
                            <legend></legend>
                            <p>Find cabs near you</p>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="flatitude">Latitude</label>
                                <div class="controls">
                                    <input id="flatitude" name="latitude" type="text" placeholder="" class="input-xlarge" required="">
                                    <p class="help-block">Current Latitude</p>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="longitude">Longitude</label>
                                <div class="controls">
                                    <input id="longitude" name="longitude" type="text" placeholder="" class="input-xlarge" required="">
                                    <p class="help-block">Current Longitude</p>
                                </div>
                            </div>

                            <!-- Button Drop Down -->
                            <div class="control-group">
                                <label class="control-label" for="buttondropdown">Radius</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input id="buttondropdown" name="buttondropdown" class="input-xlarge" placeholder="radius" type="text" required="">
                                        <div class="btn-group">
                                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                Increment
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="limit">Limit</label>
                                <div class="controls">
                                    <input id="limit" name="limit" type="text" placeholder="8" class="input-xlarge">
                                    <p class="help-block">Result Limit</p>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="control-group">
                                <label class="control-label" for="fsearch"></label>
                                <div class="controls">
                                    <button id="fsearch" name="search" class="btn btn-primary">Search</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
                <div ng-show="addOrUpdateCab" >
                    <form class="form-horizontal">
                        <fieldset>

                            <!-- Add/Update a cab position -->
                            <legend></legend>
                            <p>Add or Update a cab</p>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="addupdateid">ID</label>
                                <div class="controls">
                                    <input id="addupdateid" name="id" type="text" placeholder="Id of the cab" class="input-xlarge" required="">
                                    <p class="help-block">Unique Id of the cab</p>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="alatitude">Latitude</label>
                                <div class="controls">
                                    <input id="alatitude" name="latitude" type="text" placeholder="" class="input-xlarge" required="" ngModel="unsavedCab.latitude"
                                            value="{{unsavedCab.latitude}}">

                                    </input>
                                    <p class="help-block">cab latitude</p>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="alongitude">Longitude</label>
                                <div class="controls">
                                    <input id="alongitude" name="longitude" type="text" placeholder="" class="input-xlarge" required="" ngModel="unsavedCab.longitude"
                                           value="{{unsavedCab.longitude}}">
                                    <p class="help-block">cab longitude</p>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="control-group">
                                <label class="control-label" for="addupdate"></label>
                                <div class="controls">
                                    <button id="addupdate" name="addupdate" class="btn btn-primary">Add / Update</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
                <div ng-show="findCab" >
                    <form class="form-horizontal">
                            <!-- Search -->
                            <legend></legend>
                            <p> Find cab details</p>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="id">ID</label>
                                <div class="controls">
                                    <input id="searchid" name="id" type="text" placeholder="Id of the cab" class="input-xlarge" required="">
                                    <p class="help-block">Unique Id of the cab</p>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="control-group">
                                <label class="control-label" for="ssearch"></label>
                                <div class="controls">
                                    <button id="ssearch" name="search" class="btn btn-primary" ng-click="onFind(2)">Search</button>
                                </div>
                            </div>
                            <div>
                                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                            </div>
                    </form>

                </div>
                <div ng-show="deleteCab">
                    <!-- Delete-->
                    <form class="form-horizontal">
                        <fieldset>

                            <!-- Form Name -->
                            <legend></legend>
                            <p>Delete a cab</p>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="id">ID</label>
                                <div class="controls">
                                    <input id="id" name="id" type="text" placeholder="Id of the cab" class="input-xlarge" required="">
                                    <p class="help-block">Unique Id of the cab</p>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="control-group">
                                <label class="control-label" for="search"></label>
                                <div class="controls">
                                    <button id="search" name="search" class="btn btn-danger">Delete</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
            </div>
            <!--<span class="hipster img-responsive img-rounded"></span>-->

        </div>
    </div>
</div>
